/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;color:black;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Playfair+Display&display=swap');

a{
	font-family: 'Playfair Display', serif;
}
p{
	font-family: 'Mulish', sans-serif;
}
nav{
	font-size: 24px;
}
footer
{
	font-size: 16px;	
}
body{
	background: #F6F6F6;
	align-items: center;
}


/*--------Header------------*/
header{
	display: flex;
	font-size: 24px;
	width: 100%;
	background: #FFFFFF;
	flex-direction: column;	
	padding: 0	113px;
	border-radius: 16px;
}

.header-block{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-height: 64px;
}


.social__wrapper	i:first-child{
		padding-left: 0;
	}
.social__wrapper	i:last-child{
		padding-right: 0;
	}
.searsh__basket	i{
	padding: 0	17px;
}

.searsh__basket	i:first-child{
	padding-left: 0;
}
.searsh__basket	i:last-child{
	padding-right: 0;
}

.menu__list{
	display: flex;
	align-items: center;
}
.menu__list	li{
	margin:	22px;
	font-size: 24px;
}

.menu__list	li:first-child{
	padding-left: 0;
}
.menu__list	li:last-child{
	padding-right: 0;
}
.social__wrapper{
	display: flex;
	justify-content: center;
}
/*-------drop-down---------*/

/*-------Body---w-c---------*/

/*-------footer-------------*/
footer{
	display: flex;
	width: 100%;
	background: #FFFFFF;
	flex-direction: column;
}

.container__footer{
	padding: 48px	113px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.menu__infoes{
	max-width: 267px;
	height: 126px;
	}
.container__footer	.header-block__logo,	p{
	padding-bottom: 8px;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
}
.container__footer	li,	.inf,.container__footer	a{
	margin-top: 16px;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;	
	color: #8E8E93;
}
.inf{
	line-height: 24px;
}
.copyrights{
	padding:0	113px;
	display: flex;
	height: 72px;
	align-items: center;
	justify-content: space-between;
	background-color: #EFEFF4;
	font-size: 16px;	
	color: #8E8E93;
}
.copyrights	i{
	color: black;
	padding:0 17px;
}
.menu__email	button{
	position: absolute;
	right: 0;
	background: url(../img/send.svg)center	no-repeat;
	height: 44px;
	width: 68px;
	background: #EDA3B5;
	border-radius: 8px;
}
.menu__email{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.inp{
	height: 44px;
	width: 267px;
	border: 2px solid rgba(229, 229, 234, 1);
	border-radius: 8px;
	display: flex;
	align-items: center;
}

/*-------braikpoint-------------*/
@media(max-width:800px){
	.container{
		max-width: 100%;}

}
@media(max-width:600){
	.container{
		max-width: 100%;}
		
}
@media(max-width:450px){
	.container{
	max-width: 100%;}
	
}
