/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Playfair+Display&display=swap');

a{
	font-family: 'Playfair Display', serif;
}
p{
	font-family: 'Mulish', sans-serif;
}
nav{
	font-size: 24px;
}
footer
{
	font-size: 16px;	
}
body{
background: #F6F6F6;
align-items: center;
}
.container{
	max-width: 1366px;
	
}
/*--------Header------------*/
header{
display: flex;
font-size: 24px;
width: 100%;
height: 180px;
background: #FFFFFF;
flex-direction: column;	
}
.header-block__logo	img{
	padding-right: 16px;
}
.header-block{
	margin-top: 20px;
	padding-left: 40px;
	padding-right: 60px;
	margin-bottom: 63px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.social-networks-item{
	padding-right: 50px;
}
.searsh-item{
	padding-right: 30px;
}

nav{
	margin-bottom: 32px;
	display: flex;
	justify-content: center;
}
.menu__list{
	display: flex;
	align-items: center;
	position: relative;
	}
	.menu__list	li{
		margin-right:	45px;
		font-size: 24px;
	
	}
	.menu__link2{
		align-items: center;
	}
	.menu__link2	img{
		padding-left: 16px;
	
	}
	.social__wrapper{
		width: 140px;
		display: flex;
		justify-content: center;
		padding-right: 70px;
	}
	
	.menulink__cours{
		opacity: 0;
		visibility: hidden;
		border-radius: 5px;
		position: absolute;
		top: 88%;
		margin-top: 20px;
		padding-top: 20px;
		background-color: white;
	
	}
/*-------Body-------------*/
.container__banner{
	height: 540px;
	background:url(../img/banner.png) center	no-repeat;
	width: 100%;

}
.container__banner-text{
padding-top: 124px;
padding-left: 113px;
	display: flex;
	flex-direction: column;
	width: 361px;
}
.container__banner-text	a{
	position: absolute;
	max-width :361px;
	height:128px;
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	color: #FFFFFF;
}
.container__banner-text	p{
	max-width: 378px;
	height: 72px;
	padding-top: 144px;
	position: absolute;
	font-size: 16px;
}
.container__banner-text	button{
	width: 160px;
height: 52px;
	font-size: 20px;
	mix-blend-mode: normal;
opacity: 0.2;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 16px;
margin-top: 240px;
}
.container__form-temp{
	margin-left: 113px;
	margin-right: 113px;
}
.container__women-category,.container__product-landacape,.containeer__you-may-like{
	margin-top: 40px;
	margin-bottom: 40px;
}
.container__women-category{
	height: 440px;
	display: flex;
	justify-content: space-between;

}

.container__women-category-collection{
	height: 100%;
	width: 558px;
background: url(../img/wc.png)center	no-repeat;
mix-blend-mode: normal;
border-radius: 16px;
}
.container__women-category-categ{
	display: flex;
	justify-content: space-between;
	flex-direction: column;	
	height: 100%;
	width: 558px;
	}
	.container__women-category-categ-gr{
		display: flex;
	justify-content: space-between;
	}
.container__women-category-categ-bestsel{
background: #EFEFF4;
height: 208px;
width: 267px;
border-radius: 16px;

}
.container__women-category-categ-dress{
	background: url(../img/dr.png)center	no-repeat;
	height: 208px;
width: 267px;
border-radius: 16px;

}
.container__women-category-categ-jacket{
	background: url(../img/dj.png)center	no-repeat;
	width: 558px;
height: 208px;
}
/*-------footer-------------*/
footer{
	display: flex;
width: 100%;
height: 420px;
background: #FFFFFF;
flex-direction: column;
}
.navfoot{
height: 80px;
	display: flex;
	justify-content: center;
	border-bottom:1px	solid	 #EFEFF4;;
}
.menu__listfo{
	display: flex;
	align-items: center;
	position: absolute;
	padding: 24px	0	24px	0;
	color: #1B2437;
}
.menu__listfo	li
	{	
	margin-right:	72px;
	}
	.container__footer{
		padding: 40px	113px	43px	113px;
		display: flex;

		justify-content: space-between;
	}

	.menu__infoes{
		max-width: 267px;
height: 126px;
	}
	.container__footer	.header-block__logo,	p{
		padding-bottom: 8px;
font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 24px;

	}
	.container__footer	li,	.inf,.container__footer	a{
		margin-top: 16px;
		font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 16px;	
color: #8E8E93;
	}
	.inf{
	line-height: 24px;}
.copyrights{
	padding-left: 113px;
	display: flex;
	height: 72px;
	align-items: center;
	justify-content: space-between;
	background-color: #EFEFF4;;
}
.social-networks-item1{
	padding-right: 42px;
}
.social__wrapper{
	align-items: center;
}